
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
h6{
  color: white;
  line-height:23px;
  font-family: sans-serif;
}
h1{
  text-align: left;
  left: 10%;
}

/*--------------------------------
BANNER
---------------------------------*/

.parallax {
  /* The image used */
  background-image: url('images/bgimg.jpg');

  /* Full height */
  height: 100%;
  width: 100%;
  
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: table;
    height: 100%;
    text-align:center;
    background-color: rgba(0,0,0,0.4);
    animation: banner-in 2s ;
}

.banner__container {
    display: table-cell;
    margin-top: 15%;
    margin-left: 5%;
    vertical-align: middle;
    float: left;
}

.banner__title {
    font-size: 56px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 500px;
    animation: opacity 3s;
}

.banner__text {
    font-size: 14px;
    color: #fff;
    margin: 0;
    margin-bottom: 18px;
    animation: opacity 3s;
}
/*ANIMATIONS (OPACITY) BANNER*/
@-webkit-keyframes opacity {
  0% {  
    opacity:0;
  }
  100% { 
     opacity:1;
  }
}
@-moz-keyframes opacity {
  0% {  
    opacity:0;
  }
  100% { 
     opacity:1;
  }
}
@-o-keyframes opacity {
  0% {  
    opacity:0;
  }
  100% { 
     opacity:1;
  }
}
@keyframes opacity {
  0% {  
    opacity:0;
  }
  100% { 
     opacity:1;
  }
}


/*---------------------------
NAVIGATION BAR
----------------------------*/
body {
    position: relative; 
  }
  #section1 {padding-top:3%; padding-bottom:3%; color: black; background-color:rgba(250, 0, 159, 0.5);}
  #section2 {padding-top:3%; padding-bottom:5%; color: #D00E89; background-color: #484447;}
  #section3 {padding-top:3%; padding-bottom:3%; color: black; background-color: rgba(250, 0, 159, 0.5);}
  #section41 {padding-top:3%; padding-bottom:3%; color: #D00E89; background-color: #484447;}
  #section42 {padding-top:3%; padding-bottom:3%; color: black; background-color: rgba(250, 0, 159, 0.5);}
  
.responsive {
  max-width: 100%;
  height: auto;
}
/*---------------------------
SECTION 1 ABOUT
---------------------------*/
.vidinfobox{
    background-color: black;
    border: 2px solid  #FFEBCD;
    width: 35%;
    height: 33%;
    border-radius: 5px;
}
.aboutBP{
    top: 2%;
    margin-left: 3%;
    border-radius: 5px;
}
.vidinfo{
    top: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: 'Dosis', sans-serif;
}
.bpInfo{
  padding-right: 10%;
  padding-left: 10%;
}
 .btn {
    color: #fff;
    padding: 10px 20px;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 500;
    background-color: #daa37f;
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;
}

.btn--opacity {
    animation: opacity 3s;
}

/*---------------------------
SECTION 2 PROFILE
---------------------------*/
.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 0.5% 0 0 0.5%;
  perspective: 990px;
  transition: all 0.3s ease 0s;
  width: 24.5%;
  height: 20%;
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
  background: #222;
  cursor: default;
  height: 450px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}
.card h3{
  font-size: calc(16px+(30-16)*(100vw-400px)/(1000-400));
}
.card h6{
    font-size: calc(10px+(20-10)*(100vw-400px)/(1000-400));
}
.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY( 180deg);
}
.cardBox .card .back {
  background: #F087C9;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

/*ANIMATION (FLIP)- SECTION 2*/
@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}

/*--------------------
SECTION 3 AWARDS
--------------------*/
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr{
  background-color: black;
  color: white;
}

th {
  background-color: pink;
  color: white;
}

/*--------------------
  SECTION 4.1 GALLERY
---------------------*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 2%;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}